/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "./app/shared/services/frontend/form/form-fields/special-select/ng-select/themes/material.theme.scss";

// variables for screen breakpoints
$screen-handset: 360px;
$screen-large-handset: 480px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
